@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "Inter", sans-serif;
}

.gallery {
    text-align: center;
    margin-top: 100px;
}
  
.gallery-title {
    font-size: 32px; 
    margin-bottom: 25px;
}

.tagline {
    font-size: 18px; /* Adjust margin-top to your preference */
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.photos {
    display: flex;
    justify-content: center;
}

.column {
    margin: 0 10px;
}

.big-photo1{
    width: 100%;
    max-width: 600px;
    height: 423px;
    margin-bottom: 20px;
}

.big-photo2{
    width: 100%;
    max-width: 600px;
    height: 423px;
    margin-bottom: 20px;
}

.small-photo1{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.small-photo2{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.btn button{
    width: 100px;
    height: 30px;
    background: black;
    color: white;
    border: 0;
    cursor: pointer;
}
  